<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1>Hossain's TO-DO List APP</h1>

    <h2><%= kindOfDay %></h2>

    <ul>
      <% for (var i = 0; i < newListItems.length; i++) { %> <%
      if(newListItems[i]!="") {%>
      <li><%= newListItems[i] %></li>
      <% } %> <% } %>
    </ul>

    <form action="/" method="post" class="" required>
      <input type="text" name="newItem" id="" required maxlength="150" />
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
