body {
    background-color: #eee;
}

.content-body-card{
    background-color: beige;
    color: white;
}

.date-title{
    color: #000;
}

input[type= "checkbox"]{
    width: 20px;
    height: 20px;
}

.completed {
    text-decoration: line-through;
  }